body {
    margin: 0;
    background-color: #FADADD;
    height: auto;
    width: 100%;
    color: #333;
  }
    
  .header {
    position: relative;
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
  }
    
  .logo {
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #761326;
    margin-left: 50px;
    text-decoration: none;
  }

.catalog-container {
    display: flex;
    padding: 40px;
    box-sizing: border-box;
  }
  
  .filters {
    width: 200px;
    margin-right: 40px;
  }
  
  .filter-group {
    margin-bottom: 20px;
  }
  
  .filter-toggle {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: #761326;
    outline: none;
  }
  
  .filter-content {
    display: none;
    margin-top: 8px;
    padding-left: 10px;
  }
  
  .filter-content p {
    margin: 4px 0;
    color: #333;
  }
  
  .catalog {
    flex: 1;
  }
  
  .catalog h1 {
  font-family: 'Brock Script_D';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: #761326;
  margin-bottom: 30px;
  margin-top: -20px;
  }
  
  .sort-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .sort-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #f8ecf0;
    color: #761326;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.2s ease;
    outline: none;
  }

  .sort-buttons button.active {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .gallery img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s;
  }
  
  .gallery img:hover {
    transform: scale(1.03);
  }